# Virtual Environments & Python Cache
.venv/
venv/
ENV/
__pycache__/
*.pyc
*.pyo

# System & OS Files
.DS_Store

# Generated Game Dumps & Output Directories
DecodedADFJSONFormat/
DecodedBinariesADFFormat/
DecodedNeedZoneData/
map_cache/
*.txt

# Binary / Dynamic Link Libraries
*.dll
